
.sort {
    border: 5px solid transparent;
    float: left;
    margin-left: 5px;
}

.button {
    border: 0;
    outline: 0;
    font-size: 13px;
    background: transparent;
    color: rgba(43, 43, 43, 0.54);
    float: left;
}

.sortASC {
    border-bottom: 5px solid #8c8c8c;
    margin-top: 2px;
}
.sortDESC {
    border-top: 5px solid #8c8c8c;
    margin-top: 9px;
}



.table {
    width: 100%;
}
.table tr td{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
